@model IEnumerable<UsersNotebook.Core.Models.Domains.User>

    <div id="usersTable">
    <table class="table mt-3 table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Data urodzenia</th>
                <th scope="col">Płeć</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach(var user in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("User","User", new { id = user.Id})" class="font-weight-bold custom-link disabled-link">
                                @user.Name
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("User","User", new { id = user.Id})" class="font-weight-bold custom-link disabled-link">
                                @user.Surname
                            </a>
                        </td>
                        <td>@user.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@user.Gender</td>
                        <td>
                            <a href="@Url.Action("User", "User", new { id = 0 })" class="btn btn-primary">Dodaj</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td colspan="5">Brak urzytkowników do wyświetlenia</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

<style>
    .disabled-link {
        text-decoration: none !important;
        color: inherit !important;
    }
</style>
