@model UsersViewModel

    <div id="usersTable">
    <table class="table mt-3 table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th scope="col">@Html.LabelFor(model => model.Users.FirstOrDefault().Name)</th>
                <th scope="col">@Html.LabelFor(model => model.Users.FirstOrDefault().Surname)</th>
                <th scope="col">@Html.LabelFor(model => model.Users.FirstOrDefault().DateOfBirth)</th>
                <th scope="col">@Html.LabelFor(model => model.Users.FirstOrDefault().Gender)</th>
                <th scope="col">@Html.LabelFor(model => model.AdditionalInformations.FirstOrDefault().InformationType)</th>
                <th scope="col">@Html.LabelFor(model => model.AdditionalInformations.FirstOrDefault().InformationValue)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users != null && Model.Users.Any())
            {
                foreach(var user in Model.Users)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("User","User", new { id = user.Id})" class="font-weight-bold custom-link disabled-link">
                                @user.Name
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("User","User", new { id = user.Id})" class="font-weight-bold custom-link disabled-link">
                                @user.Surname
                            </a>
                        </td>
                        <td>@user.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@user.Gender</td>
                        @if (Model.AdditionalInformations != null && Model.AdditionalInformations.Any())
                        {
                            var userAdditionalInformations = Model.AdditionalInformations.Where(info => info.UserId == user.Id);
                            if (userAdditionalInformations != null && userAdditionalInformations.Any())
                            {
                                foreach (var info in userAdditionalInformations)
                                {
                                    <td colspan="1">@info.InformationType</td>
                                    <td colspan="1">@info.InformationValue</td>
                                }
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }

                        }

                        <td>
                            <a href="@Url.Action("User", "User", new { id = 0 })" class="btn btn-primary">Dodaj</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="text-center">
                    <td colspan="5">Brak urzytkowników do wyświetlenia</td>
                </tr>
            }
        </tbody>
    </table>
    </div>

<style>
    .disabled-link {
        text-decoration: none !important;
        color: inherit !important;
    }
</style>
