@model UserViewModel

@{
    ViewBag.Name = Model.Heading;
}

<h1>@Model.Heading</h1>

@using (Html.BeginForm("User", "User", FormMethod.Post))
{
    <p class="alert alert-info mt-4 mb-4">
        Pola Imię, Nazwisko, Data urodzenia, Płeć są wymagane
    </p>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.User.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.User.Name)
        @Html.TextBoxFor(x => x.User.Name, new { @class="form-control", autofocus = "autofocus"})
        @Html.ValidationMessageFor(x => x.User.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.User.Surname)
        @Html.TextBoxFor(x => x.User.Surname, new { @class="form-control", autofocus = "autofocus"})
        @Html.ValidationMessageFor(x => x.User.Surname)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.User.DateOfBirth)
        @Html.TextBoxFor(x => x.User.DateOfBirth, "{0:dd-MM-yyyy}", new { @class="form-control", @id="DateOfBirth", autocomplete="off" })
        @Html.ValidationMessageFor(x => x.User.DateOfBirth)
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.User.Gender)
        @Html.DropDownListFor(x => x.User.Gender, new List<SelectListItem>
        {
            new SelectListItem { Text = "Wybierz płeć", Value = "" },
            new SelectListItem { Text = "Mężczyzna", Value = "Mężczyzna" },
            new SelectListItem { Text = "Kobieta", Value = "Kobieta" }
        }, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(x => x.User.Gender)
    </div>


    <div class="form-group">
        
        <div id="orderItemsContainer">
            InformationType
            @Html.TextBoxFor(x => Model.AdditionalInformation.InformationType, new { @class = "form-control" })
            InformationValue
            @Html.TextBoxFor(x => Model.AdditionalInformation.InformationValue, new { @class = "form-control" })
        </div>
        
    </div>


    @*<div id="orderItemsContainer">
        @for (int i = 0; i < Model.AdditionalInformations.Count; i++)
        {


            <div class="additional-information">
                <div class="form-group">
                    @Html.LabelFor(x => Model.AdditionalInformations[i].InformationType)
                    @Html.TextBoxFor(x => Model.AdditionalInformations[i].InformationType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => Model.AdditionalInformations[i].InformationType)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => Model.AdditionalInformations[i].InformationValue)
                    @Html.TextBoxFor(x => Model.AdditionalInformations[i].InformationValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => Model.AdditionalInformations[i].InformationValue)
                </div>
            </div>
        }
    </div>*@



    @*<div id="orderItemsContainer">
        @foreach (var additionalInfo in Model.AdditionalInformations)
        {
            <div class="additional-information">
                <div class="form-group">
                    @Html.LabelFor(x => additionalInfo.InformationType)
                    @Html.TextBoxFor(x => additionalInfo.InformationType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => additionalInfo.InformationType)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => additionalInfo.InformationValue)
                    @Html.TextBoxFor(x => additionalInfo.InformationValue, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => additionalInfo.InformationValue)
                </div>
            </div>
        }
    </div>*@


    <div class="form-group mt-3">
        <a href="#" id="btnAdd" class="btn btn-primary">Dodaj wartość dodatkową</a>
    </div>


    <button type="submit" class="btn btn-primary btn-lg mt-2" >Zapisz</button>

}
@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
    <script type="text/javascript">
        $(document).ready(function ()
    {
            $('#DateOfBirth').datepicker(
            {
                maxDate: "0",
                format: "dd-mm-yyyy",
                altFormat: "dd-mm-yy",
                altField: "#DateOfBirth",
                language: "pl",
                multidate: false,
                autoclose: true,
                todayHighlight: true,
                forceParse: false,
                changeYear: true,
                showButtonPanel: true
            });
        }),

            $(document).ready(function () {
                var container = $('#orderItemsContainer');
                var index = 0;

                $('#btnAdd').click(function (e) {
                    e.preventDefault();
                    index++;

                    $.ajax({
                        url: '@Url.Action("AdditionalInformationEditor", "User")',
                        type: 'GET',
                        data: { index: index },
                        success: function (result) {
                            container.append(result);
                        }
                    });
                });
            });

    </script>
}